<!DOCTYPE html>
<html>
<head>
  <title>RailsBrokenCachingDeps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% cache 'header' do %>
	<%# render evil content here %>
<% end %>

<hr>

<% cache 'second header' do %>
 	<%= eval('r☹e☹n☹d☹e☹r p☹a☹r☹t☹i☹a☹l'.split('☹').join + ': "partials/hello"') %>
<% end %>

<%= yield %>

</body>
</html>
